.Die {
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 10px;
    background: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;

    span {
        font-family: 'Karla', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        color: #0B2434;

        @media only screen and (max-width: 767px) {
            font-size: 1.5rem;
        }
    }
}

.held {
    background: #7FD0DF;
}


// CSS DICE 

.cssDice {

    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid;
    border-radius: 10px;

    &::before {
        display: block;
        position: absolute;
        content: "";
        background: currentColor;
        width: 11px;
        height: 11px;
        border-radius: 11px;

        @media only screen and (max-width: 767px) {
            width: 10px;
            height: 10px;
            border-radius: 10px;
        }
    }
}

.cssDice_1 {

    &::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.cssDice_2 {

    &::before {
        left: 11px;
        top: 11px;
        box-shadow: 30px 30px 0;

        @media only screen and (max-width: 767px) {
            left: 9px;
            top: 9px;
            box-shadow: 25px 25px 0;
        }

    }
}

.cssDice_3 {

    &::before {
        left: 11px;
        top: 11px;
        box-shadow:
            15px 15px 0,
            30px 30px 0;

        @media only screen and (max-width: 767px) {
            left: 9px;
            top: 9px;
            box-shadow:
                13px 13px 0,
                27px 27px 0;
        }

    }
}

.cssDice_4 {

    &::before {
        left: 11px;
        top: 11px;
        box-shadow:
            30px 0 0,
            30px 30px 0,
            0 30px 0;

        @media only screen and (max-width: 767px) {
            left: 9px;
            top: 9px;
            box-shadow:
                26px 0 0,
                26px 26px 0,
                0 26px 0;
        }

    }
}

.cssDice_5 {

    &::before {
        left: 11px;
        top: 11px;
        box-shadow:
            15px 15px 0,
            30px 0 0,
            30px 30px 0,
            0 30px 0;

        @media only screen and (max-width: 767px) {
            left: 9px;
            top: 9px;
            box-shadow:
                13px 13px 0,
                26px 0 0,
                26px 26px 0,
                0 26px 0;
        }

    }
}

.cssDice_6 {

    &::before {
        left: 11px;
        top: 11px;
        box-shadow:
            0 15px 0,
            30px 15px 0,
            30px 0 0,
            30px 30px 0,
            0 30px 0;

        @media only screen and (max-width: 767px) {
            left: 9px;
            top: 9px;
            box-shadow:
                0 13px 0,
                26px 13px 0,
                26px 0 0,
                26px 26px 0,
                0 26px 0;
        }

    }
}